<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css/style.css">
  </head>
  <body>

    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/images/Instagram-2018-Logo-Vector.png" ></a>
      <p class="explore-user"> <a href="/explore/index.html">explore</a> | <a href="/users/{{logname}}/">{{logname}}</a></p>
    </div>



    <div>
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <img class="user-profile" src="{{photo}}"> <p style="font-weight: bold;">{{logname}}</p>

    <form action="/accounts/?target={{curr_path}}" method="post" enctype="multipart/form-data">
      Photo <input type="file" name="file" accept="image/*"/>
      Name <input type="text" name="fullname" value="{{fullname}}" required/>
      Email <input type="text" name="email" value="{{email}}" required/>
      <input type="submit" name="update" value="submit"/>
      <input type="hidden" name="operation" value="edit_account"/>
    </form>

      <p style="font-weight: bold;"> <a href="/accounts/password/">Change password</a></p>
      <p style="font-weight: bold;"> <a href="/accounts/delete/">Delete account</a></p>

    </div>
    
  </body>
</html>