<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css/style.css">
  </head>
  <body>
    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/static/uploads/Instagram-2018-Logo-Vector.png"></a>
      <p class="explore-user"> <a class="im-blue" href="/explore/">explore</a> | <a class="im-blue" href="/users/{{logname}}/">{{logname}}</a></p>
    </div>



  <div>
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->


    <div>

      <div class="edit-account-thing">
      <img class="user-profile" src="/static/uploads/{{photo}}" style="margin-top: 40px;"> <p style="font-weight: bold;">{{logname}}        
      <form action="/accounts/?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        Photo <input type="file"  name="file" accept="image/*"/>
        Name <input type="text" class="User-Input"  name="fullname" value="{{fullname}}" required/>
        Email <input type="text" class="User-Input"  name="email" value="{{email}}" required/>
        <input type="submit" name="update" class="submit-button" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
      </form>

      <p style="font-weight: bold; margin-top: 40px;"> <a href="/accounts/password/">Change password</a></p>
      <p style="font-weight: bold;"> <a href="/accounts/delete/">Delete account</a></p>      
      </div>
      
    </div>


  </div>
    
  </body>
</html>