<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css/style.css">
  </head>
  <body>
    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/static/uploads/Instagram-2018-Logo-Vector.png"></a>
      <p class="explore-user"> <a class="im-blue" href="/explore/">explore</a> | <a class="im-blue" href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    <div class="Explore-Tab">
      <p class="Explore-Head">Discover People</p>
      {% for user_details in not_following %}
      <div class="account-info">
        <img class="user-profile" src="/static/uploads/{{ user_details.user_img_url }}" >
        <p class="post-username">
          <a href="/users/{{ user_details.username }}/">{{ user_details.username }}</a>
        
        </p>
        <p class="relationship-status">
          <form action="/following/?target={{curr_path}}" method="post" enctype="multipart/form-data">
            <input class="follow-button"  type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{ user_details.username }}"/>
            <input type="hidden" name="operation" value="follow"/>
          </form>
        </p>
      </div>
      {% endfor %}

    </div>
  </body>

</html>