<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css/style.css">
  </head>
  <body>
    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/static/uploads/Instagram-2018-Logo-Vector.png"></a>
      <p class="explore-user"> <a class="im-blue" href="/explore/">explore</a> | <a class="im-blue" href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    <div class="Relationships-Tab">
      <p class="Relationship-Head">Following</p>
      
      {% for user_details in user_followings %}
      <div class="account-info">
        <img class="user-profile" src="/static/uploads/{{ user_details.user_img_url }}" >
        <p class="post-username">
          <a href="/users/{{ user_details.username }}/">{{ user_details.username }}</a>
        </p>
        <p class="relationship-status">
          {% if user_details.username != user_details.logname_follows_username %}
            {% if user_details.logname_follows_username %}
              following 
              <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target={{curr_path}}" method="post" enctype="multipart/form-data">
              <input class="unfollow-button"  type="submit" name="unfollow" value="unfollow"/>
              <input type="hidden" name="username" value="{{ user_details.username }}"/>
              <input type="hidden" name="operation" value="unfollow"/>
            </form>       
            {% else %}
              <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target={{curr_path}}" method="post" enctype="multipart/form-data">
              <input class="follow-button"  type="submit" name="follow" value="follow"/>
              <input type="hidden" name="username" value="{{ user_details.username }}"/>
              <input type="hidden" name="operation" value="follow"/>
            </form>
            {% endif %}
          {% endif %}
        </p>          
      </div>
      {% endfor %}

      

    </div>

    
  </body>
</html>