<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="css/style.css/style.css">
  </head>
  <body>
    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/images/Instagram-2018-Logo-Vector.png"></a>
      <p class="explore-user"> <a href="/explore/index.html">explore</a> | <a href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    {% for section in posts %}
    <div class="post">
      <div class="userpost">
        <img class="user-profile" src="{{section.owner_img_url}}">
        <p class="post-username">
          <a href="/users/{{section.owner}}/">{{section.owner}}</a>
        </p>
        <a href="/posts/{{section.postid}}/">
          <p class="post-time">{{section.timestamp}}</p>          
        </a>        
      </div>
      <img class="post-image" src="{{section.img_friend}}">


      <p class="display-likes">{{section.likes}} {{'likes' if section.likes != 1 else 'like'}}</p>

      {% for unique_comment in section.comments %}
      <div class="user-comment">
        <div class="comment-username">{{ unique_comment.owner }}</div>
        <div class="comment-type">{{ unique_comment.text }}</div>
      </div>
      {% endfor %}


      {% if section.post['user_liked'] %}
      <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
      <form action="/likes/?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="unlike"/>
        <input type="hidden" name="postid" value="section.postid"/>
        <input type="submit" name="unlike" value="unlike"/>
      </form>
      {% else %}
      <form action="/likes/?target=URL?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="like"/>
        <input type="hidden" name="postid" value="section.postid"/>
        <input type="submit" name="like" value="like"/>
      </form>
      {% endif %}

      <form action="/comments/?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="create"/>
        <input type="hidden" name="postid" value="posts.postid"/>
        <input type="text" name="text" required/>
        <input type="submit" name="comment" value="comment"/>
      </form>

    </div>
    {% endfor %}

  </body>
</html>