<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css/style.css">
  </head>
  <body>
    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/static/uploads/Instagram-2018-Logo-Vector.png"></a>
      <p class="explore-user"> <a class="im-blue" href="/explore/">explore</a> | <a class="im-blue" href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    <div class="Post-Details">
      <img class="Post-Image-Details" src="/static/uploads/{{post_image}}">
      <div class="userpost-Details">
        <img class="user-profile-Details" src="/static/uploads/{{owner_img_url}}">
        <p class="post-username-Details">
          <a href="/users/{{owner}}/">{{owner}}</a>
        </p>
        <p class="post-time-Details">{{timestamp}}</p>      
      </div>
      
      <p class="display-likes">{{post_likes}} {{'likes' if post_likes != 1 else 'like'}}</p>

      {% if like_button %}
      <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
      <form action="/likes/?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="unlike"/>
        <input type="hidden" name="postid" value="{{postid}}"/>
        <input type="submit" name="unlike" value="unlike"/>
      </form>
      {% else %}
      <form action="/likes/?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="like"/>
        <input type="hidden" name="postid" value="{{postid}}"/>
        <input type="submit" name="like" value="like"/>
      </form>
      {% endif %}

      {% for unique_comment in post_comments %}
      <div class="user-comment-Details">
        <div class="comment-username">{{ unique_comment.owner }}</div>
        <div class="comment-type">{{ unique_comment.text }}</div>
      </div>

        {% if is_my_comment %}
          <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
          <form action="/comments/?target={{curr_path}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete"/>
            <input type="hidden" name="commentid" value="{{ unique_comment.commentid }}"/>
            <input type="submit" name="uncomment" value="delete"/>
          </form>
        {% endif %}

      {% endfor %}

      {% if owner == logname %}
      <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') 
       make sure when you press this delete button it redirects to the user profile-->
      <form action="/posts/?target=/users/{{logname}}/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="delete"/>
        <input type="hidden" name="postid" value="{{postid}}"/>
        <input type="submit" name="delete" value="delete this post"/>
      </form>
      {% endif %}


    </div>
  </body>
</html>