<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css/style.css">
  </head>
  <body>

    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/images/Instagram-2018-Logo-Vector.png" ></a>
      <p class="explore-user"> <a href="/explore/index.html">explore</a> | <a href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    <div class="Main-User-Profile">
      <div class="Profile-username">
        {{ username }}
      </div>

      <div class="User-Relationships">
        {% if username == logname %}
          <a href="/accounts/edit">Edit Profile</a>
        {% endif %}

        {% if username != logname %}
          {% if logname_follows_username %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target={{curr_path}}" method="post" enctype="multipart/form-data">
              <input type="submit" name="unfollow" value="unfollow"/>
              <input type="hidden" name="username" value="username"/>
              <input type="hidden" name="operation" value="unfollow"/>
            </form>       

          {% else %}
          <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
          <form action="/following/?target={{curr_path}}" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="username"/>
            <input type="hidden" name="operation" value="follow"/>
          </form>
          
          {% endif %}
        {% else %}
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
              <input type="submit" name="operation" value="logout"/>
            </form>
        {% endif %}    

        {{ users_post_count }}  {{'posts' if users_post_count != 1 else 'post'}}
        <div class="Follows">
          <a href="/users/{{ username }}/followers/">{{ followers }} 
            {% if followers != 1 %}
              followers
            {% else %}
              follower
            {% endif %}
          </a>

          <a href="/users/{{ username }}/following/">{{ following }}following</a>
        </div>
      </div>
      <p>{{ fullname }}</p>
      <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
      <form action="/uploads/<filename>?target={{curr_path}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required/>
        <input type="submit" name="create_post" value="upload new post"/>
        <input type="hidden" name="operation" value="create"/>
      </form>

      {% for user_posted in posts %}
      <a href="/posts/{{user_posted.postid}}/">
        <img class="Users-Posted-Image" src="{{ user_posted.image_posts }}">
      </a>
      {% endfor %}
    </div>
  </body>
</html>