<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css/style.css">
  </head>
  <body>

    <div class="Insta-Header">
      <a href="/"><img class="insta-logo" src="/images/Instagram-2018-Logo-Vector.png" ></a>
      <p class="explore-user"> <a href="/explore/index.html">explore</a> | <a href="/users/{{logname}}/">{{logname}}</a></p>
    </div>

    <div class="Explore-Tab">
      <p class="Explore-Head">Discover People</p>
      {% for user_details in not_following %}
      <div class="account-info">
        <img class="user-profile" src="{{ user_details.user_img_url }}" >
        <p class="post-username">
          <a href="/users/{{ user_details.username }}/">{{ user_details.username }}</a>
        </p>
      </div>
      {% endfor %}

    </div>
  </body>

</html>