body {
  font-family: arial;
}

.post {
  justify-content: center;
  align-items: center;
  max-width: 600px; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
  font-family: arial;
  padding-bottom: 12px;
}

.userpost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.user-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.4);

}

.post-details {
  display: flex;
  flex-direction: column;
}

.post-username {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}

.location {
  font-size: 12px;
  padding-top: 5px;
  color: #8e8e8e;
}

.username {
  font-weight: 600;
  color: #262626;
}

.post-time {
  font-weight: bold;
  color: #131212;
}

/* IMAGE CONTAINER  vvvvvvvv */

.img-container {
  padding: 0 16px;
}

.post-image {
  object-fit: cover;
  width: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 24px;
  
}

/*COMMENTS AND LIKE BUTTONS */

.post-comment {
  display: flex;
  padding-bottom:10px;
}

.button-family {
  margin: 10px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.like-button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #ff3b30;
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.like-button:hover {
  background-color: #fd5e55;
}

.like-button:active {
  opacity: 0.8;
}

.gray-like-button {
    background-color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e6e8ec;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gray-like-button:hover {
  background-color: #d1d6df;
}

.gray-like-button:active {
  opacity: 0.5;
}

.comment-button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(65, 66, 68);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comment-button:hover {
  color: rgb(134, 143, 156);
}

.comment-button:active {
  opacity: 0.6;
}

.user-comment {
  display: flex;
  padding-top: 10px;
  padding-bottom:10px;
  justify-content: center;
  align-items: center;
}

.comment-username {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 14px;
}

.date-stamp {
  margin-left: 14px;
  font-size: 11px;
  color: #8d8d8d;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* COMMENT SECTION */

.comment-section {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px 8px 16px;
  border-top: 1px solid rgb(231, 234, 238);
  margin-top: 12px;
}

.comment-wrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.comment-field {
  border: none;
  flex-grow: 1;
  background-color: #f5f5f5;  
  border-radius: 24px;
  padding: 12px 16px;
  font-size: 14px;
  outline: none;
  width: 425px;
  margin-right: 5px;
}

.comment-field:hover {
  background-color: #e7e8ec;  
}

.post-button {
  background: none;
  border: none;
  color: #0095f6;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.post-button:hover {
  color: #0068b8;
}


/* USER PROFILE */

.user-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.Profile-username {
  font-size: 30px;
}

.edit-logout {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  gap: 20px;
}

.Main-User-Profile {
  justify-content: center;
  align-items: center;
  width: 100%; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 200px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.Profile-Details {
    display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.logout {
  border: none;
  padding: 10px 12px;
  font-weight: bold;
  color: white;
  background: rgb(57, 136, 253);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.logout:hover {
  background: rgb(43, 109, 250)
}

.follow-button {
  border: none;
  padding: 10px 12px;
  font-weight: bold;
  color: white;
  background: rgb(57, 136, 253);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.follow-button:hover {
  background: rgb(43, 109, 250);
}

.follow-button:active {
  opacity: 0.8;
}

.unfollow-button {
  border: none;
  padding: 10px 12px;
  font-weight: bold;
  color: white;
  background: rgb(127, 147, 182);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.unfollow-button:hover {
  background: rgb(73, 86, 109);
}

.unfollow-button:active {
  opacity: 0.8;
}

.User-Relationships {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.Follows {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.user-caption {
  margin-bottom: 100px;
}

.Users-Posted-Image {
  display: inline-block;
  align-items: center;
  width: 250px;
  height: 200px;
  margin-right: 20px;
  transition: transform 0.3s ease; 
}


.Users-Posted-Image:hover {
 transform: scale(1.2);
 cursor: pointer;
}

.Insta-Header {
  border-bottom: 2px solid black;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}



.im-blue {
  color: #0095f6;
}

.im-blue:hover {
  color: #0076c5;
}

.insta-logo {
  width: 25%;
}

.username-color {
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.explore-user {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap; /*prevents username from dropping a new line*/
}

.Relationship-Head, .Explore-Head {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

.Relationships-Tab, .Explore-Tab {
  justify-content: center;
  align-items: center;
  width: 100%; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 200px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 200px;
}

.account-info {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}


.relationship-status {
  color: gray;
  margin-left: auto;
}

/*LOG IN         */

.login-page, .create-page {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;  
}

.login-container, .create-container, .edit-account-thing, .password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-container form, .edit-account-thing form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
} 

.create-container form, .password-container form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.delete-account {
  margin: 120px 200px;
    display: flex;
  flex-direction: column;
  gap: 25px;
}

.User-Input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: 1px solid #050a0e;
  border: none;
  box-shadow: 2 1px 3px rgba(0,0,0, 0.4);
}

.User-Input:focus, .User-Input:hover {
  outline: 2px solid rgb(67, 90, 143);
}

.login-button, .signup-button, .submit-button {
  background-color: rgb(13, 108, 250);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.login-button:hover, .signup-button:hover,  .submit-button:hover {
  background-color: rgb(43, 127, 252);
}

.login-button:active, .signup-button:active,  .submit-button:active {
  opacity: 0.7;
}

/*DELETE ACCOUNT */
.delete-button {
  background-color: rgb(238, 26, 61);
  border: 3px solid rgb(39, 41, 48);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 20px;
}

.delete-button:hover {
  background-color: rgb(255, 41, 77);
}

.delete-button:active {
  opacity: 0.7;
}

/* POST DETAILS */

.indepth-post {
  display: flex;
  flex-direction: row; 
  align-items: stretch;
  margin: 100px auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 12px;
  max-width: 850px;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
  font-family: arial;
  padding: 40px 30px;
}

.post-img-container {
  width: 50%;
  display: flex;
  padding: 0 26px;

}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.short-userpath {
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.post-content-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1; 
}

.comment-details {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  width: 100%;
}

.comment-details form {
  display: flex;           
  align-items: center;
  flex-grow: 1;         
  gap: 8px;
}

.comment-length {
  border: none;
  background-color: #f5f5f5;  
  border-radius: 24px;
  padding: 12px 16px;
  font-size: 14px;
  outline: none;
  margin-right: 5px;
}

.comment-post-container {
  border-top: 1px solid rgb(231, 234, 238);
  margin-top: 12px;
  padding: 12px 0 0 0;
}

.delete-comment-button {
  background-color: rgb(238, 26, 61);
  border: 2px solid rgb(39, 41, 48);
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
}

.delete-comment-button:hover {
  background-color: rgb(255, 41, 77);
}

.delete-comment-button:active {
  opacity: 0.7;
}