.post {
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  width: 500px; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 100px;
  margin-top: 100px;
}

.userpost {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.user-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid black;
  justify-content: space-between;

}

.post-username {
  font-weight: bold;
}

.post-time {
  font-weight: bold;
  color: gray;
}

.post-image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 900px;
}

.post-comment {
  display: flex;
  padding-bottom:10px;
}

.display-likes {
  margin-left: 10px;
}

.user-comment {
  display: flex;
  padding-top: 10px;
  padding-bottom:10px;
}

.comment-username {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.Profile-username {
  font-size: 30px;
}

.Main-User-Profile {
  justify-content: center;
  align-items: center;
  width: 100%; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 200px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.User-Relationships {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 10px;
}

.Follows {
  font-weight: bold;
}

.Users-Posted-Image {
  display: inline-block;
  align-items: center;
  width: 250px;
  height: 200px;
  margin-right: 20px;
}

.Insta-Header {
  border-bottom: 2px solid black;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.explore-user {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap; /*prevents username from dropping a new line*/
}

.insta-logo {
  width: 25%;
}

.Relationship-Head, .Explore-Head {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

.Relationships-Tab, .Explore-Tab {
  justify-content: center;
  align-items: center;
  width: 100%; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 200px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.account-info {
  border: 2px solid rgb(182, 182, 182);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

}

.relationship-status {
  color: gray;
  margin-left: auto;
}

.Post-Details {
  border: 2px solid #808080;
  justify-content: center;
  align-items: center;
  width: 500px; /*forces big border box to adjust*/
  margin: 0 auto; /*centers content*/
  margin-bottom: 100px;
  margin-top: 100px;
}

.userpost-Details {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.user-profile-Details {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border: 2px solid rgb(133, 132, 132);
  justify-content: space-between;
  border-radius: 10px;
}

.post-username-Details {
  font-weight: bold;
  font-size: 10px;
}

.post-time-Details {
  font-weight: bold;
  color: gray;
  font-size: 10px;
}

.user-comment {
  display: flex;
  padding-top: 10px;
  padding-bottom:10px;
  font-size: 10px;
}